<div class="modal-header">
    <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete Confirmation</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <form hx-delete='{% url "item-delete" item.id %}'>
    <div class="modal-body">
        Are you sure you would like to permenantly delete this?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger" data-bs-dismiss='modal'>Delete</button>
    </div>
  </form>
