{% load crispy_forms_tags %}
  
<div class="modal-header">
  <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit Item</h1>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form hx-post='{% url "item-update" item.id %}'>
  <div class="modal-body">
      {{ form|crispy }}
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-primary" data-bs-dismiss='modal'>Update</button>
  </div>
</form>
